<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="A360Archiver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  
  <!-- in case you want detailed info about HTTP requests
  
  <system.diagnostics>
      <trace autoflush="true" /> 

        <sources>
            <source name="System.Net" maxdatasize="1024">
                <listeners>
                    
                    <add name="MyConsole"/>
                </listeners>
            </source>
        </sources>

        <sharedListeners>
            
                <add name="MyConsole" type="System.Diagnostics.ConsoleTraceListener" />
        </sharedListeners>

        <switches>
            <add name="System.Net" value="Verbose" />
        </switches>
    </system.diagnostics>
    
-->
    <userSettings>
        <A360Archiver.Properties.Settings>
            <setting name="clientId" serializeAs="String">
                <value/>
            </setting>
            <setting name="clientSecret" serializeAs="String">
                <value/>
            </setting>
            <setting name="callbackUrl" serializeAs="String">
                <value/>
            </setting>
        </A360Archiver.Properties.Settings>
    </userSettings>
</configuration>
